@using TravelTripProject.Data.Entities;
@using TravelTripProject.Models;
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_TesstLayout.cshtml";
}

@model Contact

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

 

<head>

    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="https://kit.fontawesome.com/318d550cae.js" crossorigin="anonymous"></script>

    <!----webfonts---->

</head>

<style>
    body {
        height: 100%;
        background: linear-gradient( 180deg, rgba(0, 41, 255, 0.02) 0%, rgba(0, 41, 255, 0) 100% );
    }

    label,
    input,
    textarea {
        display: block;
        width: 100%;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0.3em;
    }

    span {
        font-weight: 700;
        color: #102a43;
        line-height: 35px;
        line-height: 2.5rem;
        font-size: 12px;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        background: #a03559;
        color: white;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 5px;
        margin-top: 1.3em;
    }

    .container {
        width: 460px;
        margin: 5em auto;
    }

    form {
        background-color: #ffffff;
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        overflow: hidden;
    }

    .required-star {
        color: #a03559;
    }

    input,
    textarea {
        width: 100%;
        padding: 9px 20px;
        border: 1px solid #e1e2eb;
        background-color: #fff;
        color: #102a43;
        caret-color: #829ab1;
        box-sizing: border-box;
        font-size: 14px;
        font-size: 1rem;
        line-height: 29px;
        line-height: 2rem;
        box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
        border-radius: 3px;
        line-height: 29px;
        line-height: 2rem;
    }

    section {
        padding: 60px 0;
        min-height: 100vh;
    }

    .contact-info {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .contact-info-icon {
        margin-bottom: 15px;
    }

    .contact-info-item {
        background: #071c34;
        padding: 30px 0px;
    }

    .contact-page-sec .contact-page-form h2 {
        color: #071c34;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 700;
    }

    .contact-page-form .col-md-6.col-sm-6.col-xs-12 {
        padding-left: 0;
    }

    .contact-page-form.contact-form input {
        margin-bottom: 5px;
    }

    .contact-page-form.contact-form textarea {
        height: 110px;
    }

    .contact-page-form.contact-form input[type="submit"] {
        background: #071c34;
        width: 150px;
        border-color: #071c34;
    }

    .contact-info-icon i {
        font-size: 48px;
        color: #fda40b;
    }

    .contact-info-text p {
        margin-bottom: 0px;
    }

    .contact-info-text h2 {
        color: #fff;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .contact-info-text span {
        color: #999999;
        font-size: 16px;
        font-weight:;
        display: inline-block;
        width: 100%;
    }

    .contact-page-form input {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #f9f9f9;
        margin-bottom: 20px;
        padding: 12px 16px;
        width: 100%;
        border-radius: 4px;
    }

    .contact-page-form .message-input {
        display: inline-block;
        width: 100%;
        padding-left: 0;
    }

    .single-input-field textarea {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #f9f9f9;
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .single-input-fieldsbtn input[type="submit"] {
        background: #fda40b none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-weight: 600;
        padding: 10px 0;
        text-transform: capitalize;
        width: 150px;
        margin-top: 20px;
        font-size: 16px;
    }

        .single-input-fieldsbtn input[type="submit"]:hover {
            background: #071c34;
            transition: all 0.4s ease-in-out 0s;
            border-color: #071c34
        }

    .single-input-field h4 {
        color: #464646;
        text-transform: capitalize;
        font-size: 14px;
    }

    .contact-page-form {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

    .contact-page-map {
        margin-top: 36px;
    }

    .contact-page-form form {
        padding: 20px 15px 0;
    }

    .contact-info-item {
        margin-bottom: 20px;
    }

  
</style>

<body>
    <br />
    <div class="row container2" style="margin: 20px; ">
        <div class="col-md-4" style="margin-bottom: 1px;">
            <div class="contact-info">
                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </div>
                    <div class="contact-info-text">
                        <h2>Adres</h2>
                        <span>1215 Lorem Ipsum, TR 34500 </span>
                        <span>iSTANBUL , TURKİYE </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-info-text">
                        <h2>E-Posta</h2>
                        <span style="text-transform: lowercase;">info@easytrip.com</span>
                        <span style="text-transform: lowercase;">contact@easytrip.com  </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="contact-info-text ">
                        <h2>Çalışma Zamanı</h2>
                        <span>Pazartesi - Cuma  9:00 - 16:00 </span>
                        <span>Cumartesi - Pazar  10:00  - 13:00 </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form method="post" asp-action="ContactUs" asp-controller="About">
            <ul>
                <li>
                    <label for="name"><span>Kullanıcı Adı <span class="required-star">*</span></span></label>
                    <input  asp-for="Name" type="text"  >
                    <span asp-validation-for="Name" style="text-transform: lowercase; color: grey;"></span>
                    
                </li>
                <li>
                    <label for="mail"><span>E-posta <span class="required-star">*</span></span></label>
                    <input  asp-for="Email" type="email"  >
                    <span asp-validation-for="Email" style="text-transform: lowercase; color: grey;"></span>
                </li>
                <li>
                    <label for="mail"><span>Konu <span class="required-star">*</span></span></label>
                    <input asp-for="Subject" type="text" >
                    <span asp-validation-for="Subject" style="text-transform: lowercase; color: grey;"></span>
                </li>
                <li>
                    <label for="msg"><span>Mesaj</span></label>
                    <textarea asp-for="Message" rows="4" cols="50"></textarea>
                    <span asp-validation-for="Message" style="text-transform: lowercase; color: grey;"></span>
                </li>
                <li>
                    <input type="submit">
                </li>
            </ul>
        </form>
    </div>
    <div class="contact-page-map" style="width: 100%; height: 400px; margin-top: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9843.036189517728!2d29.03065291156226!3d40.97927332285703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab87db0fa712d%3A0x74d3b235750869b5!2zS2FsYW3EscWfIEF0YXTDvHJrIFBhcmvEsQ!5e0!3m2!1str!2str!4v1698575010631!5m2!1str!2str" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>


</body>
</html>